@import '../../variables.css';
.toast {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 99;
  .message {
    margin: 10px;
    padding: 14px 16px;
    background: #202020;
    border-radius: 4px;
    transition: all 0.4s;
    font-size: $font-14;
    line-height: 1.428;
    display: flex;
    .success {
      border: 1px solid red;
    }
    .icon {
      margin-right: 8px;
      width: 18px;
      flex-shrink: 0;
      top: -1px;
      position: relative;
    }
    .text {
      flex: 1;
      align-self: center;
    }
    .retry {
      text-transform: uppercase;
      line-height: 1.5;
      font-size: $font-16;
      color: $amber;
      align-self: center;
      letter-spacing: 0.67px;
    }
  }
}

:global {
  .fkToastMessage {
    .fkToastMessage-enter {
      transform: scale(0);
      opacity: 0;
    }

    .fkToastMessage-enter-active {
      transform: scale(1);
      opacity: 1;
    }

    .fkToastMessage-exit {
      transform: scale(0);
      opacity: 0;
    }
  }
}
