$blue: #2874f0;
$blueL: #84b0f7;
$red: #fb641b;
$redD: #ff4343;
$black: #000000;
$gray: #212121;
$blackL: #010101;
$grayL: #f0f0f0;
$amber: #ff9f00;

$font-10: 0.625rem;
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
